<!-- Describe task in general -->

<p>
    You are given {% if is_js %}an Array of numbers{% else %}a list of integers{% endif %}.
    Move all zeros in the {% if is_js %}Array{% else %}list{% endif %} to the end of it.
    The order of non-zero elements should not change.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An Array of numbers{% else %}A list of integers{% endif %}.
</p>

<p>
    <strong>Output:</strong> {% if is_js %}An Array of numbers{% else %}A list or another Iterable (tuple, genenator, iterator) of integers{% endif %}. 
</p>


<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
